@media screen and (min-width: 769px) {
  .borderBottom {
    width: 20%;
  }

  .borderBottom .brandGrid .borderGrid {
    padding-right: 15px;
    padding-left: 15px;
  }

  .borderBottom .brandGrid .borderGrid img {
    width: 100%;
  }

  .borderBottom:nth-child(-n+5) {
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 15px;
  }

  .borderBottom:nth-child(-n+4) .brandGrid {
    border-right: 1px solid #d0d0d0;
  }

  .borderBottom:nth-child(n+6) {
    padding-top: 15px;
  }

  .borderBottom:nth-child(n+6) .brandGrid {
    border-right: 1px solid #d0d0d0;
  }
}

@media screen and (max-width: 768px) {
  .outerContainer {
    padding-right: 15px;
    padding-left: 15px;
  }

  .borderBottom {
    padding-bottom: 15px;
    padding-top: 15px;
    width: 50%;
  }

  .borderBottom .brandGrid .borderGrid {
    padding-right: 15px;
    padding-left: 15px;
  }

  .borderBottom .brandGrid .borderGrid img {
    width: 100%;
  }

  .borderBottom:nth-child(odd) .brandGrid {
    border-right: 1px solid #d0d0d0;
  }

  .borderBottom:nth-child(-n+6) {
    border-bottom: 1px solid #d0d0d0;
  }
}

